body{
  background-color: #393b44;
  text-align: center;
}
h1{
  color: white;
  font-size: 3rem
}

.card{
  background-color: #4c4c4c;
  color:white
}
.card1{
  margin-top:120px;
  margin-left: 190px;
}
.card2{
  margin-top:120px;
  margin-left: 290px
}
.card-img-top{
  height: 150px;
  width: 150px;
  text-align: center;
}
